<template>
  <div class="header-bar">
    <div class="header-wrap">
      <div class="header-title">
        <div class="logo">
          <a href="/"><img src="images/email.gif" /></a>
        </div>
        <div class="liame-title">
          <h1>{{liameTitle}}</h1>
          <label class="liame-version">{{version}}</label>
        </div>
      </div>
      <Account />
    </div>
  </div>
</template>

<script>
import Account from './Account.vue'

export default {
  name: "Header",
  data() {
    return {
      liameTitle: "Liame maiL",
      version: "version 0.0.1"
    }
  },
  components: {
    Account,
  },
}
</script>

<style lang="scss" scoped>
.header-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0px;
  position: relative;
  width: 100%;
}

.logo {
  position: relative;
  font-family: monospace, sans-serif;
  cursor: pointer;

  a {
    color: black;
    display: block;
    padding: 10px 0 0;
    text-decoration: none;
  }

  img {
    width: 120px;
  }
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 12vw 0 2vw;
  margin: 0;
  width: 100%;
}

.header-title {
  display: flex;
  align-items: center;
}

.liame-title {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 0.4em;
}

.liame-title h1 {
  margin: 0 0 0.1em 0;
}

.liame-msg {
  margin-left: 0.4em;
}
</style>
