<template>
  <div class="ethdenver">
    <input type="text" v-model="msg" />
    <h1>{{ msg }}</h1>
    <p>Check Mike's Metamask wallet for category "urgent"</p>
    <button @click="stuff">check hardcoded value</button>
  </div>  
</template>

<script>
import UserPrefs from '../../embarkArtifacts/contracts/UserPrefs';
export default {
  name: 'MyPrefs',
  data () {
    return {
      msg: 'Your Liame preferences'
    }
  },

  // .call and .send
  methods: {
    async stuff(){
      let ret = await UserPrefs.methods.checkAccess("urgent", "0x2941022347348828A24a5ff33c775D67691681e9").call()
      console.log("result checking Mike's account for urgent is: ", ret);
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
button {
  padding: 5px;
  font-size: 19px;
}
</style>
